<div class="dashboard">


<% @survey.questions.each do |q| %>
  <p>Question:<br /> <%= q.value %></p>

  <% q.answers.each do |a| %>
    <p>Answer: <br /><%= a.value %></p>
  <% end %>
<% end %>




</div>
