
<%= form_tag('/answers') do %>
  <% @questions.each do |q| %>
  <div class="field">
    <%= label_tag q.value %>
    <% if q.question_type == 
    <%= text_field_tag "answer[#{q.id}]" %>
  </div>

  <% end %>


  <%= submit_tag "Submit my answers" %>
<% end %>
